/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/app/index.scss ***!
  \***************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #292c37;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

p {
  margin-top: 0px;
}

main {
  position: relative;
  z-index: 1;
}

/* Базовые стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main__banner {
  margin-top: 98px;
  position: relative;
  z-index: 0;
}
#main__banner .container {
  position: relative;
}
#main__banner .grid-template {
  grid-template-columns: 8fr 4fr;
}
#main__banner .banner__text {
  text-align: center;
  text-transform: uppercase;
}
#main__banner .banner__text_font:nth-child(1) {
  font-weight: 700;
  font-size: 96px;
}
#main__banner .banner__text_font:nth-child(2) {
  font-weight: 300;
  font-size: 64px;
}
#main__banner .banner__text_font:nth-child(3) {
  font-weight: 700;
  font-size: 55px;
}
#main__banner .banner__text_font:nth-child(4) {
  margin-top: 54px;
  color: rgb(41, 213, 170);
}
@media (max-width: 991px) {
  #main__banner {
    margin-top: 60px;
  }
  #main__banner .container {
    position: relative;
  }
  #main__banner .container:before {
    content: none;
  }
  #main__banner .grid-template {
    grid-template-columns: 1fr;
  }
  #main__banner .banner__text_font:nth-child(1) {
    font-size: 48px;
  }
  #main__banner .banner__text_font:nth-child(2) {
    font-weight: 300;
    font-size: 36px;
  }
  #main__banner .banner__text_font:nth-child(3) {
    font-weight: 700;
    font-size: 32px;
  }
  #main__banner .banner__text_font:nth-child(4) {
    font-size: 20px;
    font-weight: 700;
    margin-top: 17px;
  }
}

.title {
  text-transform: uppercase;
}

.font-colored {
  color: rgb(41, 213, 170);
  text-transform: uppercase;
}

.font-colored-blue {
  color: rgb(19, 134, 229);
  text-transform: uppercase;
}

.font-h1 {
  font-weight: 700;
  font-size: 48px;
}

.font-h2 {
  font-weight: 700;
  font-size: 32px;
}

.font-h3 {
  font-weight: 700;
  font-size: 24px;
}

.font-h4 {
  font-weight: 400;
  font-size: 24px;
}

.font-700-24 {
  font-weight: 700;
  font-size: 24px;
}

.font-700-20 {
  font-weight: 700;
  font-size: 20px;
}

.font-700-36 {
  font-weight: 700;
  font-size: 36px;
}

.font-700-64 {
  font-weight: 700;
  font-size: 64px;
}

.font-700-96 {
  font-weight: 700;
  font-size: 96px;
}

.font-700-80 {
  font-weight: 700;
  font-size: 64px;
}

.font-400-32 {
  font-weight: 400;
  font-size: 32px;
}

.font-700-16 {
  font-weight: 700;
  font-size: 16px;
}

.font-400-16 {
  font-weight: 400;
  font-size: 16px;
}

.font-700-14 {
  font-weight: 700;
  font-size: 14px;
}

.font-600-14 {
  font-weight: 600;
  font-size: 14px;
}

.font-400-14 {
  font-weight: 400;
  font-size: 14px;
}

.font-700-12 {
  font-weight: 700;
  font-size: 12px;
}

.font-400-12 {
  font-weight: 400;
  font-size: 12px;
}

.font-h5 {
  font-weight: 400;
  font-size: 16px;
}

.font-h6 {
  font-weight: 600;
  font-size: 14px;
}

button,
button:active,
button:focus {
  border: none;
}

.btn {
  cursor: pointer;
  white-space: nowrap;
  border-radius: 15px;
  padding: 13px 23px;
}
.btn-style-1 {
  background: linear-gradient(266.39deg, #29d5aa -5.49%, #1386e5 95.38%);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.17);
  color: rgb(41, 44, 55);
}
.btn-style-2 {
  background: rgb(41, 213, 170);
  color: rgb(62, 65, 78);
}
.btn-style-3 {
  background: rgb(66, 68, 78);
  box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.17);
  color: rgb(255, 255, 255);
}

.maskot_frame {
  position: relative;
}
.maskot_frame .maskot_img {
  height: 162px;
  width: 231px;
  overflow: hidden;
}
.maskot_frame img {
  height: auto;
  width: 100%;
}
.maskot_frame .maskot_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 20px);
  display: block;
  width: 300px;
}
.maskot_frame .maskot_text::after {
  content: "";
  position: absolute;
  top: calc(100% + 20px);
  right: calc(100% - 10px);
  transform: translateY(-50%);
  width: 86px;
  height: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg width=%2786%27 height=%2716%27 viewBox=%270 0 86 16%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27><path d=%27M0.341344 2.24996C38.366 19.8928 57.0583 19.8746 85.3003 0.755784%27 stroke=%27%231386E5%27/></svg>");
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .maskot_frame .maskot_text {
    width: 150px;
    text-align: left;
  }
}

.hand-img-bg {
  background-image: url(../../51da61cc7145ecca3dac.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  width: 893px;
  height: 927px;
  left: 0px;
  bottom: 0px;
  position: absolute;
}

.hand-mask-container {
  -webkit-mask-image: url(../../530e78dcbce42d7845a7.png);
          mask-image: url(../../530e78dcbce42d7845a7.png);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: left bottom;
          mask-position: left bottom;
  position: absolute;
  width: 893px;
  height: 927px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  z-index: 0;
}
@media (max-width: 991px) {
  .hand-mask-container {
    justify-content: center;
  }
}

.hand-img {
  transition: 1.25s;
  margin-bottom: -100px;
}

.hand-img:hover {
  margin-bottom: -90px;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .hand-img {
    margin-bottom: -150px;
  }
  .hand-img:hover {
    margin-bottom: -90px;
  }
}
.hand-img-container {
  position: relative;
  width: 100%; /* Можно изменить в зависимости от потребностей */
  height: 500px; /* Можно изменить в зависимости от потребностей */
}

.grid-template {
  display: grid;
  gap: 30px;
  grid-template-rows: auto;
}

header {
  position: relative;
  margin-top: 30px;
  z-index: 10;
}
header .grid-template {
  align-items: center;
  grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
}
header .item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}
header .contact-button {
  align-items: self-end;
}
header .contact-button button {
  padding: 13px 42px;
}
header .burget_container {
  align-items: flex-end;
}
header .header_logo img {
  width: auto;
  max-height: 76px;
}
header .burger-menu {
  cursor: pointer;
}
@media (max-width: 991px) {
  header .header__info {
    justify-content: center;
    align-items: center;
  }
  header .info__worktime {
    text-align: center;
  }
  header .grid-template {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.header_scrolled {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-top: 0px;
  width: 100%;
  transform: translateX(-50%);
  background: rgb(37, 39, 48);
}

#goods {
  margin-top: 60px;
}
#goods .grid-template {
  row-gap: 40px;
  grid-template-columns: 7fr 5fr;
}
#goods .card-title {
  text-transform: uppercase;
  margin-bottom: 25px;
}
#goods .reserse-card .card-desc {
  margin-bottom: 25px;
}
#goods .reserse-card .contact-button {
  margin-top: 30px;
}
#goods .reserse-card:last-child .back {
  padding-bottom: 50px;
}
#goods .front {
  padding: 40px;
}
#goods .front .card-title {
  margin-bottom: 0px;
  max-width: 250px;
}
#goods .block:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
#goods .block:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
#goods .block:nth-child(3) {
  grid-column: 2;
  grid-row: 1/span 2;
}
@media (max-width: 991px) {
  #goods {
    margin-top: 60px;
  }
  #goods .grid-template {
    grid-template-columns: repeat(1, 1fr);
  }
  #goods .block:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }
  #goods .block:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }
  #goods .block:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
}
@media (max-width: 991px) {
  #goods {
    margin-top: 60px;
  }
  #goods .grid-template {
    grid-template-columns: repeat(1, 1fr);
  }
  #goods .reserse-card .back .card-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  #goods .reserse-card .back .card-pre-title {
    font-size: 18px;
    font-weight: 600;
  }
  #goods .reserse-card .back .card-desc {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
  }
  #goods .reserse-card .front {
    padding: 37px;
  }
  #goods .block:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }
  #goods .block:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }
  #goods .block:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
}

section {
  overflow-x: clip;
}
section .container {
  position: relative;
}

.bg_left {
  position: absolute;
  background-image: url(../../38894b45970e89dad57d.svg);
  height: 666px;
  width: 690px;
  right: calc(100% - 130px);
  top: -270px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.bg_left-style2 {
  background-image: url(../../3312466397db21e74169.svg);
}

.bg_right {
  position: absolute;
  background-image: url(../../7efc2f3e35d55504d002.svg);
  height: 666px;
  z-index: -1;
  width: 690px;
  left: calc(100% - 200px);
  top: -308px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg_center {
  position: absolute;
  background-color: rgba(19, 134, 229, 0.8);
  width: 828px;
  height: 828px;
  border-radius: 828px;
  filter: blur(220px);
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-hand-blur::before {
  content: "";
  position: absolute;
  z-index: -2;
  background-color: rgba(19, 134, 229, 0.8);
  width: 828px;
  height: 828px;
  border-radius: 828px;
  filter: blur(220px);
  right: 0px;
  top: 0px;
  opacity: 0.3;
}

.bg_left-blur::before {
  content: "";
  position: absolute;
  z-index: -2;
  background-color: rgba(19, 134, 229, 0.8);
  width: 828px;
  height: 828px;
  border-radius: 828px;
  filter: blur(220px);
}

.bg_right-blur::before {
  content: "";
  position: absolute;
  z-index: -3;
  background-color: rgba(19, 134, 229, 0.8);
  width: 828px;
  height: 828px;
  border-radius: 828px;
  filter: blur(220px);
}

#main__banner .bg_left {
  top: 30px;
  right: calc(100% - 100px);
}

#for_whom .bg_right {
  top: -140px;
}

#history {
  margin-top: 106px;
}
#history .bg_right {
  top: -140px;
}
#history .font-h1 {
  text-transform: uppercase;
}

#section_about .bg_left {
  top: 50px;
}

.section_about .container {
  position: relative;
}
.section_about .grid-template-1 {
  margin-top: 140px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
}
.section_about .grid-template-2 {
  margin-top: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
}
.section_about__card {
  padding: 30px;
  border-radius: 30px;
  background: rgb(55, 56, 66);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .section_about .grid-template-1 {
    margin-top: 60px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
  .section_about .grid-template-2 {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
  .section_about .font-h4 {
    font-size: 20px;
    font-weight: 400;
  }
  .section_about .font-h1 {
    font-weight: 700;
    font-size: 36px;
  }
}

.section_features .grid-template {
  margin-top: 140px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}
.section_features .font-700-64 {
  line-height: 83.2px;
}
.section_features .card-inner {
  max-width: 354px;
}
.section_features .font-h2 {
  text-transform: uppercase;
  line-height: 41.6px;
  margin-top: 10px;
}
.section_features .font-h5 {
  margin-top: 20px;
  line-height: 20.8px;
}
.section_features__card:last-child {
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 991px) {
  .section_features__card:nth-child(even) {
    padding-left: 86px;
  }
  .section_features__card:last-child {
    display: none;
  }
  .section_features__card:nth-last-child(-n+2) {
    background-image: url(../../842854828a820a018261.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 10px;
    height: 300px;
  }
  .section_features .grid-template {
    margin-top: 60px;
    grid-template-columns: repeat(1, 1fr);
  }
}

#for_whom {
  margin-top: 140px;
}
#for_whom .grid-template {
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
}
#for_whom .card:last-child .front {
  justify-content: flex-start;
}
#for_whom .reserse-card .card-desc {
  margin-bottom: 25px;
}
#for_whom .reserse-card .button-container {
  margin-top: 0px;
}
#for_whom .reserse-card .card-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 1400px) {
  #for_whom .grid-template {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991px) {
  #for_whom {
    margin-top: 60px;
  }
  #for_whom .title {
    text-align: center;
  }
  #for_whom .grid-template {
    grid-template-columns: 1fr;
  }
}

.section_referal .grid-template {
  margin-top: 78px;
  grid-template-columns: 5fr 7fr;
}
.section_referal .btn-style-3 {
  padding: 13px 50px;
}
.section_referal_content {
  display: flex;
  flex-direction: column;
}
.section_referal_content .item:nth-child(1) {
  margin-top: 62px;
  text-transform: uppercase;
}
.section_referal_content .item:nth-child(2) {
  margin-top: 28px;
}
.section_referal_content .item:nth-child(3) {
  margin-top: 40px;
}
.section_referal_content .item:nth-child(4) {
  margin-top: 30px;
}
.section_referal_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 991px) {
  .section_referal .grid-template {
    margin-top: 70px;
    grid-template-columns: repeat(1, 1fr);
  }
  .section_referal_content .item:nth-child(1) {
    line-height: 49px;
    font-size: 36px;
  }
  .section_referal_content .item:nth-child(3) {
    line-height: 28px;
    font-size: 20px;
  }
  .section_referal_img {
    display: none;
  }
  .section_referal .item {
    text-align: center;
  }
}

.file-input-wrapper input[type=file] {
  display: none;
}

.file-icon {
  margin-right: 10px;
}

.file-text {
  text-align: right;
}

.file-input-wrapper {
  color: rgb(41, 213, 170);
  -webkit-text-decoration: underline;
  text-decoration: underline;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 200px;
}

.section_callback {
  z-index: 5;
  position: relative;
}
.section_callback .container {
  background: rgb(55, 56, 66);
  border-radius: 30px;
}
.section_callback .grid-template {
  margin-top: 105px;
  gap: 0px;
  grid-template-columns: 4fr 8fr;
}
.section_callback .contact-button {
  margin-top: 40px;
}
.section_callback_form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 31.7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 50px;
  margin-left: -15px !important;
}
.section_callback .file-input-wrapper {
  color: rgb(41, 213, 170);
  -webkit-text-decoration: underline;
  text-decoration: underline;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 200px;
}
.section_callback .file-input-wrapper input[type=file] {
  display: none;
}
.section_callback .file-icon {
  margin-right: 10px;
}
.section_callback .file-text {
  text-align: right;
}
.section_callback_info {
  display: flex;
  flex-direction: column;
}
.section_callback_info .item:nth-child(1) {
  margin-top: 104px;
  padding-left: 72px;
}
.section_callback_info .item:nth-child(2) {
  margin-top: 10px;
  padding-left: 72px;
  text-transform: uppercase;
}
.section_callback_info .item:nth-child(3) {
  margin-top: 10px;
  padding-left: 72px;
}
.section_callback_info .item:nth-child(4) {
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 991px) {
  .section_callback {
    padding: 20px;
  }
  .section_callback .container {
    padding: 0px;
  }
  .section_callback_info .item:nth-child(1) {
    text-align: center;
    margin-top: 40px;
    padding-left: 0px;
  }
  .section_callback_info .item:nth-child(2) {
    text-align: center;
    padding-left: 0px;
    font-size: 36px;
    line-height: 43px;
  }
  .section_callback_info .item:nth-child(3) {
    text-align: center;
    padding-left: 0px;
    font-size: 48px;
    line-height: 65px;
  }
  .section_callback_info .item:nth-child(4) {
    text-align: center;
    padding-left: 0px;
    align-items: start;
  }
  .section_callback .section_callback_form {
    padding: 50px 45px;
    margin: 0px 0px;
  }
  .section_callback .grid-template {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }
  .section_callback .section_callback {
    display: none;
  }
}

.bg-full {
  background-image: url(../../f7b4abc0c7856bc6241f.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.section_ready {
  margin-top: 140px;
  position: relative;
  z-index: 5;
}
.section_ready .font-700-96 {
  text-transform: uppercase;
}
.section_ready .maskot_img {
  width: 240px;
  height: 175px;
}
.section_ready .contact-button {
  padding: 16px 100px;
}
.section_ready .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_ready .container .item:nth-child(2) {
  margin-top: 30px;
}
.section_ready .container .item:nth-child(3) {
  margin-top: 50px;
}
.section_ready .container .item:nth-child(4) {
  margin-top: 56px;
}
@media (max-width: 991px) {
  .section_ready {
    margin-top: 30px;
  }
  .section_ready .container {
    text-align: center;
  }
  .section_ready .container .item:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
  }
  .section_ready .container .item:nth-child(4) {
    margin-top: 30px;
    width: 100%;
    display: flex;
  }
}

footer {
  background: rgb(27, 32, 43);
  padding-top: 40px;
  padding-bottom: 15px;
}
footer .grid-template:nth-child(1) {
  grid-template-columns: 2fr 4fr 2fr 2fr 2fr;
  align-items: center;
}
footer .grid-template:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-top: 57px;
  gap: 60px;
}
footer .grid-template:nth-child(3) {
  margin-top: 39px;
  display: flex;
  justify-content: center;
}
footer .item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}
footer .item:last-child {
  align-items: flex-end;
}
footer .footer_logo img {
  width: auto;
  max-height: 76px;
}
@media (max-width: 991px) {
  footer {
    padding-bottom: 57px;
  }
  footer .grid-template:nth-child(1) {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  footer .grid-template:nth-child(1) .item:nth-child(1) {
    grid-column: 1/-1; /* Занимает всю первую строку */
  }
  footer .grid-template:nth-child(1) .item:nth-child(2) {
    grid-column: 1/-1; /* Занимает всю первую строку */
  }
  footer .grid-template:nth-child(1) .item:nth-child(3),
  footer .grid-template:nth-child(1) .item:nth-child(4) {
    grid-column: span 1; /* Третий и четвертый элементы занимают по одной колонке */
  }
  footer .grid-template:nth-child(1) .item:nth-child(5) {
    display: none;
  }
  footer .grid-template:nth-child(2) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  footer .grid-template:nth-child(4) {
    margin-top: 40px;
    justify-content: center;
  }
  footer .grid-template:nth-child(4) .item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .item {
    align-items: center;
    text-align: center;
  }
}

.reserse-card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 327px;
}
.reserse-card .front,
.reserse-card .back {
  backface-visibility: hidden;
  transition: transform 0.6s;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 40px 40px 10px 40px;
  flex-direction: column;
  border-radius: 30px;
}
.reserse-card .front {
  background-color: #3e414e;
  transform: rotateY(0deg);
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.reserse-card .front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.74%, rgba(0, 0, 0, 0.7) 91.13%), linear-gradient(0deg, rgba(40, 44, 57, 0.29), rgba(40, 44, 57, 0.29));
  z-index: -1;
  border-radius: 30px;
}
.reserse-card .back {
  background-color: #3e414e;
  transform: rotateY(180deg);
  overflow: hidden;
}
.reserse-card .back .contact-button {
  margin-bottom: 20px;
}
.reserse-card .back .card-slider-brands {
  margin-top: auto;
  margin-right: -40px;
  max-width: 650px;
  overflow: hidden;
}
.reserse-card .back .card-pre-title {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.reserse-card .back .button-container {
  margin-top: 25px;
}
.reserse-card .back .item {
  margin-top: auto;
}
.reserse-card .back .brandlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
  row-gap: 3px;
  margin-top: 4px;
}
.reserse-card .back .brandlist img {
  opacity: 0.4;
  height: auto;
  cursor: pointer;
}
.reserse-card .back .brandlist img:hover {
  opacity: 1;
}
.reserse-card:hover .front {
  transform: rotateY(-180deg);
}
.reserse-card:hover .back {
  transform: rotateY(0deg);
}

.sticky-menu.fixed {
  position: fixed;
  top: 60px;
  transform: translateY(0%);
}

.sticky-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 20;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 43px;
}
.sticky-menu a {
  color: inherit;
  transition: 0.12s;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: right;
  align-items: center;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.sticky-menu .dot {
  width: 12px;
  height: 5px;
  border-radius: 15px;
  box-sizing: border-box;
  transition: 0.12s;
  background-color: rgba(255, 255, 255, 0.2);
}
.sticky-menu:hover a > span {
  opacity: 1;
}
.sticky-menu-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.sticky-menu-link a > span {
  opacity: 0;
}
.sticky-menu-link:hover .dot {
  background-color: rgb(41, 213, 170);
  width: 22px;
}
.sticky-menu-link:hover a {
  font-weight: 800;
  color: rgb(41, 213, 170);
}
.sticky-menu-link-active .dot {
  background-color: rgb(41, 213, 170);
  width: 22px;
}
.sticky-menu-link-active a {
  font-weight: 800;
  color: rgb(41, 213, 170);
}

.section_history .swiper-slide {
  height: auto !important;
  padding-top: 2px;
}
.section_history .swiper-content {
  grid-template-columns: 5fr 7fr;
  display: grid;
  gap: 50px;
}
.section_history .swiper {
  margin-top: 60px;
  padding-left: 30px;
}
.section_history .swiper-pagination {
  left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 43px;
  width: 0px;
}
.section_history .swiper-pagination-bullet-active {
  background: rgb(41, 213, 170) !important;
  box-shadow: 0 0 0 3px rgb(41, 44, 55), 0 0 0 5px rgb(41, 213, 170);
}
.section_history .swiper-pagination-bullet {
  background: rgb(255, 255, 255);
  height: 9px;
  width: 9px;
}
.section_history .history_img img {
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.section_history .history_img {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.section_history .history_logo img {
  width: 100%;
  max-width: 200px;
}
.section_history .history_info {
  display: flex;
  flex-direction: column;
}
.section_history .history_info .item:nth-child(2) {
  margin-top: 30px;
}
.section_history .history_info .item:nth-child(3) {
  margin-top: 51px;
}
@media (max-width: 1400px) {
  .section_history .swiper-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .section_history .swiper {
    margin-top: 30px;
    padding-left: 0px;
  }
  .section_history .swiper-slide {
    padding-top: 49px;
  }
  .section_history .history_logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section_history .swiper-pagination {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Горизонтальная пагинация */
    top: 10px;
    left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 43px;
    width: 100%;
    height: 0px;
    z-index: 20;
  }
}
@media (max-width: 1400px) {
  .section_history .history_img {
    height: 292px;
  }
}
@media (max-width: 991px) {
  .section_history .font-h1 {
    text-align: center;
  }
}

.review_container {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 30px;
  padding: 30px 43px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.review_container::after {
  content: "“";
  position: absolute;
  font-size: 128px;
  font-weight: 400;
  color: rgb(41, 213, 170);
  right: 0px;
  top: 30px;
  right: 81px;
  line-height: 0px;
}

.mobile_only,
.item.mobile_only,
.mobile_only:last-child {
  display: none;
}

.desctop_only,
.item.desctop_only,
.desctop_only:last-child {
  display: flex;
}

@media (max-width: 991px) {
  .desctop_only,
  .item.desctop_only,
  .desctop_only:last-child {
    display: none;
  }
  .mobile_only,
  .item.mobile_only,
  .mobile_only:last-child {
    display: flex;
  }
}
.popup_menu {
  top: 0px;
  left: 0px;
  background: rgb(36, 63, 93);
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 30;
}
.popup_menu .grid-template {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.popup_menu .item a {
  color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
}
.popup_menu .item_active a {
  color: rgb(41, 213, 170);
  font-weight: 800;
}
.popup_menu .menu_exit {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  position: relative;
}
.popup_menu .menu_exit img {
  z-index: 30;
  cursor: pointer;
}
.popup_menu .menu_exit_bg {
  width: 200px;
  height: 200px;
  background-image: url(../../4157f4a888ae4bc13a6d.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 25;
  top: -75px;
  right: -95px;
}

.menu-active {
  display: flex;
}

.input-container {
  position: relative;
  margin-bottom: 30px;
}

.input-container input {
  color: white;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-bottom: 2px solid #007bff;
}

.callback_checkbox_container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 16px;
  color: white;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #007bff;
}

.input-container .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s;
}

.input-container input:focus ~ .focus-border {
  width: 100%;
}

.section_supply {
  position: relative;
  z-index: 4;
  margin-top: 139px;
}
@media (max-width: 991px) {
  .section_supply {
    margin-top: 60px;
  }
}
.section_supply .grid-template {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 40px;
}
.section_supply .logo-matrix-container {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  max-height: 720px;
  overflow: visible;
}
.section_supply .logo-matrix-container .logo {
  position: absolute;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform-box: border-box;
  transform-origin: center;
  cursor: pointer;
}
.section_supply .logo-matrix-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.section_supply .logo-matrix-container .logo-active {
  filter: blur(0);
  transform: scale(1.5);
}
.section_supply .logo-matrix-container .logo-blur {
  filter: blur(3px);
}
.section_supply .logo-matrix-container .logo:nth-child(6) {
  x: 2;
  y: 312;
  width: 154px;
  height: 48px;
}
.section_supply .logo-matrix-container .logo:nth-child(7) {
  x: 351;
  y: 14;
  width: 167px;
  height: 40px;
}
.section_supply .logo-matrix-container .logo:nth-child(8) {
  x: 1159;
  y: 5;
  width: 113px;
}
.section_supply .logo-matrix-container .logo:nth-child(9) {
  x: 1021;
  y: 335;
  width: 261px;
  height: 102px;
}
.section_supply .logo-matrix-container .logo:nth-child(10) {
  x: 232;
  y: 323;
  width: 131px;
  height: 27px;
}
.section_supply .logo-matrix-container .logo:nth-child(11) {
  x: 2;
  y: 428;
  width: 197px;
  height: 37px;
}
.section_supply .logo-matrix-container .logo:nth-child(12) {
  x: 1138;
  y: 154;
  width: 144px;
  height: 85px;
}
.section_supply .logo-matrix-container .logo:nth-child(13) {
  x: 701;
  y: 329;
  width: 228px;
  height: 31px;
}
.section_supply .logo-matrix-container .logo:nth-child(14) {
  x: 676;
  y: 437;
  width: 168px;
  height: 32px;
}
.section_supply .logo-matrix-container .logo:nth-child(15) {
  x: 897;
  y: 486;
  width: 159px;
  height: 50px;
}
.section_supply .logo-matrix-container .logo:nth-child(16) {
  x: 297;
  y: 418;
  width: 221px;
  height: 93px;
}
.section_supply .logo-matrix-container .logo:nth-child(17) {
  x: 483;
  y: 315;
  width: 70px;
  height: 41px;
}
.section_supply .logo-matrix-container .logo:nth-child(18) {
  x: 1138;
  y: 521;
  width: 127px;
  height: 56px;
}
.section_supply .logo-matrix-container .logo:nth-child(19) {
  x: 798;
  y: 584;
  width: 275px;
  height: 32px;
}
.section_supply .logo-matrix-container .logo:nth-child(20) {
  x: 2;
  y: 576;
  width: 267px;
  height: 37px;
}
.section_supply .logo-matrix-container .logo:nth-child(21) {
  x: 358;
  y: 566;
  width: 198px;
  height: 36px;
}
.section_supply .logo-matrix-container .logo:nth-child(22) {
  x: 642;
  y: 539;
  width: 117px;
  height: 34px;
}
.section_supply .logo-matrix-container .logo:nth-child(23) {
  x: 456;
  y: 154;
  width: 310px;
  height: 94px;
}
@media (max-width: 991px) {
  .section_supply .logo-matrix-container {
    width: 100%;
    height: 633px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(1) {
    x: 1.1461;
    y: 16.8989;
    width: 107.734px;
    height: 33.237px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(2) {
    x: 0;
    y: 104.834;
    width: 84.8117px;
    height: 20.0568px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(3) {
    x: 135.24;
    y: 104.834;
    width: 72.7776px;
    height: 34.9562px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(4) {
    x: 1.1461;
    y: 200.792;
    width: 88.25px;
    height: 27.5065px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(5) {
    x: 170;
    y: 25;
    width: 127px;
    height: 31px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(6) {
    x: 132.948;
    y: 207.096;
    width: 75.0698px;
    height: 15.4724px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(7) {
    x: 1.1461;
    y: 277.266;
    width: 112.891px;
    height: 21.2029px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(8) {
    x: 339;
    y: 280;
    width: 96.2727px;
    height: 18.3377px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(9) {
    x: 170.196;
    y: 271.535;
    width: 126.644px;
    height: 53.2938px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(10) {
    x: 276.784;
    y: 202.511;
    width: 40.1136px;
    height: 23.4951px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(11) {
    x: 1.1461;
    y: 372.078;
    width: 153.005px;
    height: 21.2029px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(12) {
    x: 205.153;
    y: 366.347;
    width: 113.464px;
    height: 20.6299px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(13) {
    x: 367.899;
    y: 350.875;
    width: 67.0471px;
    height: 19.4838px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(14) {
    x: 261.312;
    y: 100.25;
    width: 177.646px;
    height: 53.8669px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(15) {
    x: 271;
    y: 438;
    width: 170.196px;
    height: 48.1364px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(16) {
    x: 1;
    y: 455;
    width: 157.589px;
    height: 18.3377px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(17) {
    x: 348;
    y: 0;
    width: 64.7549px;
    height: 55.586px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(18) {
    x: 189;
    y: 449;
    width: 51px;
    height: 30.1042px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(19) {
    x: 1;
    y: 537;
    width: 109px;
    height: 42.5977px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(20) {
    x: 150;
    y: 540;
    width: 130.656px;
    height: 17.7646px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(21) {
    x: 330;
    y: 535;
    width: 91.1153px;
    height: 28.6526px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(22) {
    x: 356;
    y: 193;
    width: 72.7776px;
    height: 32.0909px;
  }
  .section_supply .logo-matrix-container .logo:nth-child(23) {
    x: 293;
    y: 602;
    width: 119.768px;
    height: 30.3718px;
  }
}
.section_supply .logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
}
.section_supply .logo-container .logo-left {
  justify-self: flex-start;
}
.section_supply .logo-container .logo-left {
  justify-self: flex-end;
}
.section_supply .logo-container .logo-img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
  transform: scale(1);
  transition: 0.12s;
  cursor: pointer;
}
.section_supply .logo-container .logo-img-little {
  max-width: 100px;
  max-height: 100px;
}
.section_supply .logo-container .logo-img-middle {
  max-width: 150px;
  max-height: 100px;
}
.section_supply .logo-container .logo-img-big {
  max-width: 200px;
  max-height: 200px;
}
.section_supply .logo-container .logo-img-active {
  filter: blur(0);
}
.section_supply .logo-container .logo-img-blur {
  filter: blur(3px);
}
.section_supply .logo-container .logo-img-active.logo-img-little {
  transform: scale(2.4);
}
.section_supply .logo-container .logo-img-active.logo-img-middle:hover {
  transform: scale(1.5);
}
.section_supply .logo-container .logo-img-active.logo-img-big:hover {
  transform: scale(1.3);
}

.card-brands {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-self: start;
  align-items: center;
  overflow: hidden;
  margin-top: auto;
}
.card-brands .card-brands-slide img {
  max-width: 100px;
  max-height: 40px;
  height: auto;
  width: auto;
  opacity: 0.5;
  transition: 0.12s;
  cursor: pointer;
}
.card-brands .card-brands-slide img:hover {
  opacity: 1;
}
.card-brands .card-brands-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 40px;
}
.card-brands .card-brands-slide:last-child {
  margin-right: 50px;
}
.card-brands::after {
  content: "";
  z-index: 5;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(62, 65, 78) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(62, 65, 78) 50%, rgb(62, 65, 78) 100%);
  pointer-events: none;
}
.card-brands .card-brands-button-next {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
  width: 30px;
  height: 30px;
  background: url(../../e897afe1178629701a22.svg) no-repeat center;
  background-size: contain;
  transform: translateY(-50%);
  cursor: pointer;
  color: transparent;
  margin: 0px;
}

.success_form {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 424px;
  text-align: center;
  margin: 0 -30px;
}
.success_form .item:nth-child(2) {
  margin-top: 21px;
}
.success_form .item:nth-child(3) {
  margin-top: 30px;
  line-height: 35px;
}

.modal {
  justify-content: center;
  align-items: center;
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Оставить модальное окно на месте */
  z-index: 50; /* Слой на переднем плане */
  padding: 50px;
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: hidden; /* Включить прокрутку, если нужно */
  background-color: rgb(0, 0, 0); /* Цвет фона */
  background-color: rgba(0, 0, 0, 0.4); /* Чёрный с прозрачностью */
}
.modal .contact-button {
  margin-top: 25px;
  width: 100%;
}
.modal .input-container label {
  color: white;
}

.input_hidden {
  display: none;
}

.modal-content {
  background-color: rgb(62, 65, 78);
  border-radius: 30px;
  width: 100%;
  border: none;
  margin: 15px;
  position: relative;
}
.modal-content select {
  color: #aaa;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}
.modal-content__form {
  max-width: 465px;
  padding: 60px;
}
.modal-content__form form {
  margin-top: 35px;
}
.modal-content__info {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 719px;
  padding: 50px;
}
.modal-content__info .font-700-36 {
  margin-bottom: 30px;
}
.modal-content__info a {
  color: white;
}
.modal-content__callback {
  max-width: 465px;
  padding: 54px;
}

#modalPersonalData .modal-content {
  height: 100%;
}
#modalPersonalData .modal-content .inner-container {
  margin-top: 20px;
  overflow-y: auto;
  width: calc(100% + 17px); /* Добавьте ширину полосы прокрутки */
  height: 100%;
  margin-right: -17px; /* Сдвиньте полосу прокрутки внутрь */
  padding-right: 17px;
  scrollbar-width: thin; /* Ширина скроллбара для Firefox */
  scrollbar-color: #888 #f1f1f1; /* Цвет ползунка и фона для Firefox */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Стиль скроллбара для IE и Edge */
}
#modalPersonalData .modal-content .inner-container::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбара */
}
#modalPersonalData .modal-content .inner-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона скроллбара */
  border-radius: 10px;
}
#modalPersonalData .modal-content .inner-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Цвет ползунка скроллбара */
  border-radius: 10px; /* Радиус закругления углов */
  border: 2px solid #f1f1f1; /* Цвет бордюра вокруг ползунка */
}
#modalPersonalData .modal-content .inner-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}

.close {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url(../../bbfa85e1f0a796f2cd06.svg) no-repeat center/contain;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close:hover {
  background: none;
  background-color: white;
  -webkit-mask: url(../../bbfa85e1f0a796f2cd06.svg) no-repeat center/contain;
          mask: url(../../bbfa85e1f0a796f2cd06.svg) no-repeat center/contain;
}

input[type=checkbox] {
  margin: 0px;
  padding: 0px;
}

.input-container input::placeholder {
  color: transparent;
}
.input-container input:focus::placeholder {
  color: grey;
}

.button_personan_data {
  cursor: pointer;
}

#callback_phone::placeholder {
  color: transparent;
}

#callback_phone:focus::placeholder {
  color: grey;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}

.custom-select-trigger {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.custom-select-trigger .arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.custom-options {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #f3f3f3;
}

.custom-option.selected {
  background-color: #e2e2e2;
}

/* Hide original select */
select.contact_method {
  display: none;
}

#selectElement {
  background: black;
}

.ss-main {
  background: rgb(62, 65, 78);
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #ccc;
  padding: 10px 5px;
  outline: none;
  color: white;
}

.ss-main:focus {
  box-shadow: none;
}

.ss-content {
  background: rgb(62, 65, 78);
  color: white;
}

.ss-content.ss-open-below {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.ss-content .ss-list {
  padding: 15px;
  border-radius: 15px;
}

.ss-content .ss-list .ss-option {
  border-radius: 10px;
  color: white;
}

.ss-content .ss-list .ss-option.ss-disabled {
  display: none;
}

.section_callback_form .ss-main {
  background: transparent;
}
.section_callback_form .ss-content {
  background: rgb(66, 68, 77);
  color: white;
}

.phones__number a, .info__email a {
  color: white;
  -webkit-text-decoration: none;
  text-decoration: none;
}

#supplyLogo_1 {
  top: 4.22%;
  left: 0.16%;
  width: 14.66%;
  height: 9.42%;
}

#supplyLogo_5 {
  top: 26.3%;
  left: 0%;
  width: 11.54%;
  height: 5.69%;
}

#supplyLogo_8 {
  top: 28.41%;
  left: 65.91%;
  width: 16.3%;
  height: 8.6%;
}

#supplyLogo_3 {
  top: 0%;
  left: 52.73%;
  width: 23.17%;
  height: 13.63%;
}

#supplyLogo_6 {
  top: 26.3%;
  left: 18.41%;
  width: 9.91%;
  height: 9.9%;
}

#supplyLogo_10 {
  top: 50.65%;
  left: 0.16%;
  width: 12.01%;
  height: 7.79%;
}

#supplyLogo_2 {
  top: 2.27%;
  left: 27.38%;
  width: 13.02%;
  height: 6.49%;
}

#supplyLogo_4 {
  top: 0.81%;
  left: 90.41%;
  width: 8.81%;
  height: 9.9%;
}

#supplyLogo_14 {
  top: 54.38%;
  left: 79.64%;
  width: 20.36%;
  height: 16.56%;
}

#supplyLogo_11 {
  top: 52.44%;
  left: 18.1%;
  width: 10.22%;
  height: 4.38%;
}

#supplyLogo_15 {
  top: 69.48%;
  left: 0.16%;
  width: 15.37%;
  height: 6.01%;
}

#supplyLogo_9 {
  top: 25%;
  left: 88.77%;
  width: 11.23%;
  height: 13.8%;
}

#supplyLogo_13 {
  top: 53.41%;
  left: 54.68%;
  width: 17.78%;
  height: 5.03%;
}

#supplyLogo_17 {
  top: 70.94%;
  left: 52.73%;
  width: 13.1%;
  height: 5.19%;
}

#supplyLogo_18 {
  top: 78.9%;
  left: 69.97%;
  width: 12.4%;
  height: 8.12%;
}

#supplyLogo_16 {
  top: 67.86%;
  left: 23.17%;
  width: 17.24%;
  height: 15.1%;
}

#supplyLogo_12 {
  top: 51.14%;
  left: 37.68%;
  width: 5.46%;
  height: 6.66%;
}

#supplyLogo_23 {
  top: 84.58%;
  left: 88.77%;
  width: 9.91%;
  height: 9.09%;
}

#supplyLogo_22 {
  top: 94.81%;
  left: 62.25%;
  width: 21.45%;
  height: 5.19%;
}

#supplyLogo_19 {
  top: 93.51%;
  left: 0.16%;
  width: 20.83%;
  height: 6.01%;
}

#supplyLogo_20 {
  top: 91.88%;
  left: 27.93%;
  width: 15.44%;
  height: 5.84%;
}

#supplyLogo_21 {
  top: 87.5%;
  left: 50.08%;
  width: 9.13%;
  height: 5.52%;
}

#supplyLogo_7 {
  top: 25%;
  left: 35.57%;
  width: 24.18%;
  height: 15.26%;
}

@media (max-width: 992px) {
  #supplyLogo_1 {
    top: 2.67%;
    left: 0.26%;
    width: 24.43%;
    height: 5.26%;
  }
  #supplyLogo_2 {
    top: 3.96%;
    left: 38.55%;
    width: 28.8%;
    height: 4.91%;
  }
  #supplyLogo_4 {
    top: 0%;
    left: 78.91%;
    width: 14.68%;
    height: 8.8%;
  }
  #supplyLogo_5 {
    top: 16.58%;
    left: 0%;
    width: 19.23%;
    height: 3.17%;
  }
  #supplyLogo_6 {
    top: 16.59%;
    left: 30.67%;
    width: 16.5%;
    height: 5.53%;
  }
  #supplyLogo_7 {
    top: 15.86%;
    left: 59.25%;
    width: 40.28%;
    height: 8.52%;
  }
  #supplyLogo_10 {
    top: 31.77%;
    left: 0.26%;
    width: 20.01%;
    height: 4.35%;
  }
  #supplyLogo_11 {
    top: 32.77%;
    left: 30.15%;
    width: 17.02%;
    height: 2.45%;
  }
  #supplyLogo_12 {
    top: 32.04%;
    left: 62.76%;
    width: 9.1%;
    height: 3.72%;
  }
  #supplyLogo_23 {
    top: 30.54%;
    left: 80.72%;
    width: 16.5%;
    height: 5.08%;
  }
  #supplyLogo_15 {
    top: 43.87%;
    left: 0.26%;
    width: 25.6%;
    height: 3.35%;
  }
  #supplyLogo_16 {
    top: 42.97%;
    left: 38.59%;
    width: 21.83%;
    height: 8.43%;
  }
  #supplyLogo_17 {
    top: 44.3%;
    left: 76.87%;
    width: 13.1%;
    height: 2.9%;
  }
  #supplyLogo_19 {
    top: 58.87%;
    left: 0.26%;
    width: 34.69%;
    height: 3.35%;
  }
  #supplyLogo_20 {
    top: 57.97%;
    left: 46.51%;
    width: 25.73%;
    height: 3.26%;
  }
  #supplyLogo_21 {
    top: 55.52%;
    left: 83.42%;
    width: 15.2%;
    height: 3.08%;
  }
  #supplyLogo_22 {
    top: 71.99%;
    left: 0.23%;
    width: 35.73%;
    height: 2.9%;
  }
  #supplyLogo_9 {
    top: 71%;
    left: 42.9%;
    width: 11.56%;
    height: 4.76%;
  }
  #supplyLogo_3 {
    top: 69.3%;
    left: 61.45%;
    width: 38.59%;
    height: 7.62%;
  }
  #supplyLogo_14 {
    top: 84.97%;
    left: 0.22%;
    width: 24.71%;
    height: 6.74%;
  }
  #supplyLogo_13 {
    top: 85.44%;
    left: 34.01%;
    width: 29.63%;
    height: 2.81%;
  }
  #supplyLogo_18 {
    top: 84.65%;
    left: 74.83%;
    width: 20.66%;
    height: 4.53%;
  }
  #supplyLogo_8 {
    top: 95.25%;
    left: 66.44%;
    width: 27.16%;
    height: 4.81%;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (min-width: 992px) {
  .container {
    max-width: 760px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1544px) {
  .container {
    max-width: 1310px;
  }
}
@media (max-width: 1544px) {
  .font-700-20 {
    font-size: 16px;
  }
  .font-h1 {
    font-size: 38px;
  }
  .font-700-24 {
    font-size: 20px;
  }
  .font-h4 {
    font-size: 20px;
  }
  .font-h2 {
    font-size: 24px;
  }
}
@media (max-width: 1400px) {
  .section_callback .grid-template {
    grid-template-columns: 5fr 7fr;
  }
  .section_about__card {
    padding: 25px;
  }
  .font-700-16 {
    font-size: 14px;
  }
  .review_container {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .section_callback .grid-template {
    grid-template-columns: 6fr 6fr;
  }
  .section_callback_info .item:nth-child(1) {
    margin-top: 100px;
    padding-left: 30px;
  }
  .font-h1 {
    font-size: 30px;
  }
  .font-700-80 {
    font-size: 48px;
  }
  .maskot_frame {
    transform: scale(0.9);
    transform-origin: left bottom;
  }
  .section_callback_info .item:nth-child(2) {
    padding-left: 30px;
  }
  .section_callback_info .item:nth-child(3) {
    padding-left: 30px;
  }
  .section_callback_info .item:nth-child(4) {
    align-items: flex-start;
  }
  .section_features .grid-template {
    grid-template-columns: repeat(2, auto);
    margin-top: 70px;
  }
  .section_about .grid-template-1 {
    margin-top: 70px;
  }
  #for_whom {
    margin-top: 70px;
  }
  #goods .grid-template {
    row-gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
  }
  .section_features .font-h5 {
    margin-top: 10px;
  }
  #goods .block:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  #goods .block:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  #goods .block:nth-child(3) {
    grid-row: 2;
    grid-column: span 2;
  }
  #goods .reserse-card:last-child .back {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #goods .reserse-card:last-child .back .flex-row {
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  #goods .reserse-card:last-child .back .flex-row:last-child div:last-child {
    margin-top: auto;
  }
  .reserse-card:nth-child(3) .back .card-pre-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #goods .reserse-card:nth-child(3) .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #goods .reserse-card:nth-child(3) .card-desc {
    margin-bottom: 0px;
    margin-top: 0 !important;
  }
  header .grid-template {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  }
  header .grid-template {
    gap: 20px;
  }
  header .contact-button button {
    padding: 11px 22px;
  }
  .font-h2 {
    font-size: 20px;
  }
  .section_features .font-h2 {
    line-height: 30px;
  }
  .section_features .font-700-64 {
    line-height: 30px;
  }
  .font-700-64 {
    font-size: 44px;
  }
  .font-700-36 {
    font-size: 34px;
  }
  #main__banner {
    margin-top: 28px;
  }
  .hand-img-container {
    transform: scale(0.5);
    transform-origin: right bottom;
  }
  .hand-img-container {
    height: auto;
  }
  #main__banner .grid-template {
    grid-template-columns: 6fr 6fr;
  }
  #main__banner .banner__text_font:nth-child(1) {
    font-size: 48px;
  }
  #main__banner .banner__text_font:nth-child(2) {
    font-size: 36px;
  }
  #main__banner .banner__text_font:nth-child(3) {
    font-size: 32px;
  }
}
@media (max-width: 992px) {
  #goods .reserse-card:last-child .back {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #goods .reserse-card:last-child .back .flex-row {
    flex-direction: column;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  #goods .reserse-card:last-child .back .flex-row:last-child div:last-child {
    margin-top: auto;
  }
  #goods .reserse-card:nth-child(1) {
    min-height: 277px;
  }
  #goods .reserse-card:nth-child(2) {
    min-height: 277px;
  }
  #goods .reserse-card:nth-child(3) {
    min-height: 427px;
  }
  #goods .reserse-card:nth-child(3) .back .card-pre-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #goods .reserse-card:nth-child(3) .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #goods .reserse-card:nth-child(3) .card-title br {
    display: none;
  }
  #goods .reserse-card:nth-child(3) .card-desc {
    margin-bottom: 0px;
    margin-top: 0 !important;
  }
  #goods .grid-template {
    grid-template-columns: auto;
  }
  #goods .block:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }
  #goods .block:nth-child(2) {
    grid-column: auto;
    grid-row: auto;
  }
  #goods .block:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
  #main__banner .grid-template {
    grid-template-columns: auto;
  }
  #main__banner .hand-img-container {
    transform-origin: center bottom;
    height: 400px;
    transform: scale(0.75);
  }
  #main__banner .hand-mask-container {
    width: 100%;
    left: 200px;
  }
  #main__banner .bg_left {
    display: none;
  }
  #main__banner .hand-img-bg {
    left: 200px;
  }
  #main__banner .hand-img {
    margin-left: -250px;
  }
  #for_whom .bg_right {
    display: none;
  }
  header .grid-template {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container {
    max-width: 760px;
  }
  #section_about .bg_left {
    top: 40%;
    right: calc(100% - 230px);
  }
  .section_features .grid-template {
    margin-top: 60px;
    grid-template-columns: repeat(1, 1fr);
  }
  .section_features__card .font-h2 {
    max-width: 250px;
  }
  .section_referal .bg_right {
    top: -180%;
    left: calc(100% - 350px);
  }
  .section_callback .grid-template {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }
  .section_callback_form {
    margin-left: 0px !important;
  }
  .section_callback_info .item:nth-child(1) {
    margin-top: 30px;
    padding-left: 0px;
  }
  .section_callback_info .item:nth-child(2) {
    margin-top: 20px;
    padding-left: 0px;
  }
  .section_callback_info .item:nth-child(3) {
    margin-top: 10px;
    padding-left: 0px;
  }
  .section_supply .font-h1 {
    text-align: center;
  }
  .font-400-32 {
    font-size: 20px;
  }
  footer .footer__info {
    gap: 30px;
  }
  .section_features__card {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .maskot_frame .maskot_text {
    left: calc(100% - 20px);
  }
  .maskot_frame .maskot_text::after {
    transform-origin: center;
    transform: scale(0.8);
    right: calc(100% - 40px);
  }
  header .grid-template {
    grid-template-columns: 1fr 2fr 1fr;
  }
  #main__banner .banner__text_font:nth-child(1) {
    font-size: 38px;
  }
  #main__banner .banner__text_font:nth-child(2) {
    font-size: 28px;
  }
  #main__banner .banner__text_font:nth-child(3) {
    font-size: 23px;
  }
  #main__banner .hand-img-bg {
    left: 0px;
  }
  #main__banner .hand-img {
    margin-left: 0px;
  }
  #main__banner .hand-mask-container {
    width: 100%;
    left: 0px;
  }
}
